@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Reset básico*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;  /*Passa exatamente o tamanho da caixa que eu quero, sem alterar conforme o que é passado*/
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
body{     /*Aqui colocamos cor de fundo, e alinhamos a calculadora no centro*/
    background: #425585;
    background: radial-gradient(circle,rgba(66, 85, 133, 1) 0%, rgba(217, 63, 94, 1) 49%, rgba(237, 157, 173, 1) 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Caixa da calculadora */
.calculadora{         
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 10px 25px rgb(128, 27, 56);  /*Borda*/
    display: flex;
    flex-direction: column;   /*Direção dos eixos*/
    gap: 20px;   /*Esapçamento entre os itens*/
}
#tela{    /*Nós editamos a caixa que aparece os números*/
    width: 100%;
    height: 60px;
    font-size: 28px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f0f4f8;
    color: black;
    text-align: right;
    box-shadow: inset 0 2px 4px rgba(140, 13, 53, 1); 
}
/*Aqui nós ativamos o flexbox e deixamos ele em coluna e demos o espaçamento entre eles*/
.botoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.linha-botoes{
    display: flex;
    gap: 15px;
}
/*Aqui nós colocamos cor, alreamos o tamanho da fonte, cor, e etc nas letras nos botões*/
button{      
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background-color: #80224F;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
    flex: 1;
}
button:hover{
    background-color: #913150;
    transform: translateY(-2px);  /*Ele faz com que o botão pule, alterando a direção e o lado do pulo*/
}
/* Hover é pra quando o mouse está em cima
Active quando está ativado */
button:active{
    transform: scale(0.97);   /*Quando o botão estiver ativado, ele vai transformr o botão no tamanho dessa escala*/
}
/*Adicionamos ele para mudar de cor quando o mouse clicar*/
.operador{     
    background-color: #914C6D;
    color: white;
}
.operador:hover{
    background-color:#8C5A72;
}
.botao-limpar{
    background-color: #96394C;
    color: white;
}
.botao-limpar:hover{
    background-color: #8C263A;
}
.botao-zero{
    flex:2;
}